// Classe de base
.si {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  vertical-align: middle;
}

// Map des icônes
$si-icons: (
{{#shapes}}
"{{name}}": "space-icons.svg#{{name}}",
{{/shapes}}
);

// Génération des classes
@each $name, $url in $si-icons {
  .si-#{$name} {
    -webkit-mask-image: url($url);
    mask-image: url($url);
  }
}