.si {
    --si-sprite: url("space-icons.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    vertical-align: middle;
}

{{#shapes}}
.si-{{name}} {
    -webkit-mask-image: var(--si-sprite);
    mask-image: var(--si-sprite);
    -webkit-mask-image: url("space-icons.svg#{{name}}");
    mask-image: url("space-icons.svg#{{name}}");
}
{{/shapes}}